code/web/bundles/
code/app/bootstrap.php.cache
code/app/cache/*
code/app/config/parameters.yml
code/app/logs/*
code/!app/cache/.gitkeep
code/!app/logs/.gitkeep
code/app/phpunit.xml
code/build/
code/vendor/
code/bin/
code/composer.phar
code/.idea/